[user]
	name = Ricardo Vela
	mail = aricav96@gmail.com
	email = aricav96@gmail.com
[core]
	editor = vim
[diff]
	tool = vimdiff3
[alias]
	co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
[merge]
    tool = vimdiff3
[credential]
	helper = cache
