# Ranger
ranger/.config/ranger/history
ranger/.config/ranger/bookmarks

# Vim
vim/.vim/.netrwhist

# Emacs
emacs/.emacs.d/elpa/
emacs/.emacs.d/network-security.data
emacs/.emacs.d/recentf
emacs/.emacs.d/ido.last
emacs/.emacs.d/eshell/

*~
\#*
