! Includes
!#include ".Xresources.d/colors"
#include ".cache/squash/x_colors"

! URxvt stuff
URxvt.perl-ext-common: keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

!! Font
URxvt.font: xft:Iosevka Nerd Font:size=12:style=Light
UXterm.font: xft:Iosevka Nerd Font:size=12:style=Light
 
!! Aesthetics
URxvt.scrollBar: false
URxvt.fading: 30

! Emacs
emacs.fontBackend: xft
emacs.font: Iosevka Nerd Font-12:weight=Light
!emacs.font: UW Ttyp0:pixelsize=14 
